{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block stylesheets %}
	<style>
		.image {
			height: 180px;
			width: 180px;
			border-radius: 50%;
			margin-bottom: 80px;
		}
		.icon {
			color: black;
		}
		.margin-right {
			margin-right: 40px
		}
		.margin-bottom {
			margin-bottom: 20px;
		}

		.secondary-text {
			font-weight: 200;

		}
		.info-container {
            width: 50%;

        }
	</style>
{% endblock %}

{% block body %}
	<div class="d-flex flex-column m-5 p-5  justify-content-center align-items-center">
		<img src="https://via.placeholder.com/150" alt="Placeholder Image" class="image">
		<div class="d-flex flex-column align-items-center justify-content-center info-container w-75" >
			<div class="d-flex flex-row  margin-bottom justify-content-between w-100 align-items-center">
				<h3 class="margin-right">
					username
				</h3>
				<h3 class="margin-right secondary-text">codingexpert</h3>
				<a class="margin-right" href="/">
					<i class="fas fa-edit icon"></i>
				</a>
			</div>
			<div class="d-flex flex-row  margin-bottom justify-content-between align-items-center  w-100">
				<h3 class="margin-right">
					email
				</h3>
				<h3 class="margin-right secondary-text">codingexpert@gmail.com</h3>
				<a class="margin-right" href="/">
					<i class="fas fa-edit icon"></i>
				</a>
			</div>
			<div class="d-flex flex-row   margin-bottom align-items-center justify-content-between  w-100">
				<h3 class="margin-right">
					birthday
				</h3>
				<h3 class="margin-right secondary-text">23-10-2011</h3>
				<a class="margin-right" href="/">
					<i class="fas fa-edit icon"></i>
				</a>
			</div>
		</div>
	</div>


{% endblock %}
