<style>
	.container {
		margin-left: 70px;
		margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 40px;
	}
	table {
		width: 100%;
		border-collapse: collapse;
		background-color: #333;
		color: #fff;
	}
	th {
		background-color: #444;
		color: #fff;
		border: 1px solid #555;
		padding: 8px;
	}
	td {
		border: 1px solid #555;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #555;
	}
	td:nth-child(1) {
		text-align: left;
		font-weight: 600;
	}
	tr:hover {
		opacity: 0.7;
	}
	th,
	td {
		text-align: center;
		padding: 20px 10px;
	}
    .but
    {
        padding: 10px;
        background-color: #444;
        color: #fff;
        border: none;
        cursor: pointer;
    
    }
    .search
    {
        padding:8px 10px;
        width: 300px;
        margin-right: 10px;
        background-color: #444;
        color: #fff;
    }
</style>

<div class='container'>
    <h1>Overall Statistics</h1>
	<div>
		<table>

			<tr>
				<th></th>
				<th>Tasks Done</th>
				<th>Tasks Failed</th>
				<th>Total</th>
			</tr>
			<tr>
				<td>Today</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
			</tr>
			<tr>
				<td>Last week</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
			</tr>
			<tr>
				<td>Last month</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
				<td>0(0%)</td>
			</tr>
			<tr>
				<td>Pending tasks</td>
				<td></td>
				<td></td>
				<td>23</td>
			</tr>
            <tr>
				<td>Average Tasks per user</td>
				<td></td>
				<td></td>
				<td> 1.4</td>
			</tr>
		</table>
        
	</div>
    <h2>Statistics for a specific User</h2>
    <div>
    <input class="search" placeholder="type user name"/>
    <button class="but">Search</button>
    
    </div>



</div>
