<style>
    .feedback-container {

        border: 2px solid black;
        border-radius: 10px;
        width: 70%;
        max-width: 500px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
    }

    .butt {
        width: 95%;
        height: 50px;
        background-color: green;
        color: white;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        transition: 0.25s;
    }

    .butt:hover {
        background-color: darkgreen;
    }

    .textarea {
        padding: 15px;
        width: 95%;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h3 {
        margin: 10px 0 20px 20px;
        align-self: flex-start;
        font-size: 1.4rem;
    }

    a {
        align-self: flex-start;
        color: grey;
    }

    #result {
        width: 90%;
    }

    #container {
        width: 70%;
    }
</style>

<div class = "d-flex flex-column m-5 p-5  justify-content-center align-items-center" id = "container">
    <div class = "feedback-container m-2 p-2 text-black">
        <p id = "result"></p>
        <h3>Feedback :
        </h3>
        <textarea name = "feedback" cols = "30" rows = "10" class = "textarea"></textarea>


        <h3>Or
            <a target = "_blank"
               href = "mailto:tasksphere@hotmail.com?subject=Support%20request&body=Dear%20Task%20Sphere%20Team,">
                Send us an email !</a>
        </h3>
        <button class = "butt" onclick = "sendFeedback()">Submit</button>
    </div>
</div>

<script>
    if (typeof supportPageUser === 'undefined') {
        const supportPageUser=true;
        function checkValidFeedback() {
            return textareaFeedback.value.trim().length > 0;
        }

        function sendFeedback() {
            resultFeedback.classList.remove("alert", "alert-success", "m-2", "col-12");
            resultFeedback.innerHTML = "";
            if (!checkValidFeedback()) {
                alert("Please enter a valid feedback");
            }
            $.ajax({
                url: '/user/support/sendfeedback',
                type: 'POST',
                data: {
                    feedback: textareaFeedback.value.trim()
                },
                success: function (data) {
                    if (data.status === "success") {
                        resultFeedback.classList.add("alert", "alert-success", "m-3", "col-12");
                        resultFeedback.innerHTML = "Thank you for your feedback!";
                        textareaFeedback.value = "";
                    }
                }
            });
        }

        const textareaFeedback = document.querySelector('.textarea');
        const resultFeedback = document.querySelector('#result');

    }

</script>

