{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block stylesheets %}
	<style>
		.feedback-container {

			border: 2px solid black;
			border-radius: 10px;
			width: 70%;
			max-width: 500px;
			min-width: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #f0f0f0;
		}
		.butt {
			width: 95%;
			height: 50px;
			background-color: green;
			color: white;
			border-radius: 10px;
			border: none;
			margin-bottom: 10px;

		}
		.textarea {
			width: 95%;
			height: 150px;
			border-radius: 10px;
			margin-bottom:10px ;
		}
		h3 {
			margin:10px 0 20px 20px; 
			align-self: flex-start; 
			font-size: 1.4rem;
		}
		a{
			align-self: flex-start; 
			color: black;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="d-flex flex-column m-5 p-5  justify-content-center align-items-center">
		<div class="feedback-container m-2 p-2">

			<h3>Feedback :
			</h3>
			<textarea name="feedback" cols="30" rows="10" class="textarea"></textarea>


			<h3>Or
				<a href="">
					Send us an email !</a>
			</h3>
			<button class="butt">Submit</button>


		</div>
	</div>


{% endblock %}
